@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200&family=Dosis&family=Fugaz+One&family=Philosopher&family=Poor+Story&family=Rubik+Dirt&family=Source+Sans+Pro&family=Space+Mono&family=Special+Elite&display=swap');

/* CSS Reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Biryani', sans-serif;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

.dayBG {
    background-image: url('../assets/daybg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nightBG {
    background-image: url('../assets/nightbg.png');
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.currentTempData {
    max-width: 25rem;
    height: auto;
    border-radius: 1rem;
    background-color: white;
    padding: 2rem;
}

.cityName {
    letter-spacing: .4rem;
}

.currentTemp {
    font-size: 5rem;
    padding: 0rem;
    font-family: 'Philosopher', sans-serif;
    border-bottom: dotted 2px black;
}

.timeText {
    font-size: 5rem;
    font-family: 'Philosopher', sans-serif;
    margin: 0rem;
}

.tempThroughOutDay {
    max-width: 25rem;
    height: auto;
    border-radius: 1rem;
    background-color: white;
    padding: 2rem;
}

.mainWeatherData {
    gap: 1rem;
}

.weatherDescriptionText {
    font-size: 1.3rem;
    font-family: 'Philosopher', sans-serif;
}

.todayText {
    font-variant-caps: small-caps;
    font-size: 2rem;
    margin: 0rem;
    margin-top: -.8rem;
}

.todaysDateText {
    font-size: 1.6rem;
    letter-spacing: .1rem;
}

.dayColumn {
    background-color: rgba(255, 255, 255, 0.447);
    border-radius: 1rem;
    margin: .45rem;
    padding-top: .8rem;
    max-width: 9.45rem;
    height: auto;
}

.navColumns {
    max-width: auto;
    height: 3rem;
}

.weatherIcons {
    max-width: 2.5rem;
    height: auto;
}

.navbar-brand {
    font-size: 2rem;
    font-family: 'Philosopher', sans-serif;
    font-weight: bold;
    margin-top: -.3rem;
}

.addToFavesBtn {
    background-color: rgba(255, 255, 255, 0.747);
    border: none;
    border-radius: .8rem;
    padding: .7rem .5rem .5rem .5rem;
    min-width: 25rem;
}

.searchBtn {
  background-color: rgba(86, 43, 226, 0.402);
  padding-top: .4rem;
  max-height: 2rem;
  max-width: 2.5rem;
  margin-top: .3rem;
  border-radius: .5rem;
}

.openFaveText {
  font-size: .7rem;
}

.fa-search {
  color: white;
}

.fa-heart {
  margin-right: .7rem;
}

.form-control {
  margin-top: .3rem;
  max-height: 2rem;
}

.offcanvas-title {
  letter-spacing: .1rem;
}

.closeBtn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}