@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200&family=Dosis&family=Fugaz+One&family=Philosopher&family=Poor+Story&family=Rubik+Dirt&family=Source+Sans+Pro&family=Space+Mono&family=Special+Elite&display=swap');

/* CSS Reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Biryani', sans-serif;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

.dayBG {
    background-image: url('../assets/daybg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dayModeBtn {
  min-width: 20rem;
  height: 2rem;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.nightModeBtn {
  min-width: 20rem;
  height: 2rem;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.nightBG {
    background-image: url('../assets/nightbg.png');
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.currentTempData {
    max-width: 25rem;
    height: auto;
    border-radius: 1rem;
    background-color: white;
    padding: 2rem;
}

.currentTempDataNight {
  max-width: 25rem;
  height: auto;
  border-radius: 1rem;
  background-color: rgb(51, 51, 51);
  padding: 2rem;
}

.cityName {
    letter-spacing: .4rem;
    padding-left: 2rem;
}

.currentTemp {
    font-size: 5rem;
    padding: 0rem;
    font-family: 'Philosopher', sans-serif;
}

.timeText {
    font-size: 5rem;
    font-family: 'Philosopher', sans-serif;
    margin: 0rem;
}

.tempThroughOutDay {
    max-width: 25rem;
    height: auto;
    border-radius: 1rem;
    background-color: white;
    padding: 2rem;
}

.tempThroughOutNight {
  max-width: 25rem;
  height: auto;
  border-radius: 1rem;
  background-color: rgb(51, 51, 51);
  padding: 2rem;
}

.mainWeatherData {
    gap: 1rem;
}

.weatherDescriptionText {
    font-size: 1.3rem;
    font-family: 'Philosopher', sans-serif;
}

.todayText {
    font-variant-caps: small-caps;
    font-size: 2rem;
    margin: 0rem;
    margin-top: -.8rem;
}

.todaysDateText {
    font-size: 1.6rem;
    letter-spacing: .1rem;
    margin: 0rem;
}

.dayColumn {
    background-color: rgba(255, 255, 255, 0.447);
    border-radius: 1rem;
    border: none;
    margin: .45rem;
    padding-top: .8rem;
    max-width: 9.45rem;
    height: auto;
}

.nightColumn {
  background-color: rgba(0, 0, 0, 0.447);
  border-radius: 1rem;
  border: none;
  margin: .45rem;
  padding-top: .8rem;
  max-width: 9.45rem;
  height: auto;
}

.navColumns {
    max-width: auto;
    height: 3rem;
}

.weatherIcons {
    max-width: 2.5rem;
    height: auto;
}

.navbar-brand {
    font-size: 2rem;
    font-family: 'Philosopher', sans-serif;
    font-weight: bold;
    margin-top: -.3rem;
}

.addToFavesBtn {
    background-color: rgba(255, 255, 255, 0.747);
    border: none;
    border-radius: .8rem;
    padding: .7rem .5rem .5rem .5rem;
    min-width: 25rem;
}

.addToFavesBtnNight {
  background-color: rgb(51, 51, 51);
  border: none;
  border-radius: .8rem;
  padding: .7rem .5rem .5rem .5rem;
  min-width: 25rem;
  color: white;
}

.searchBtn {
  background-color: rgba(86, 43, 226, 0.402);
  padding-top: .4rem;
  max-height: 2rem;
  max-width: 2.5rem;
  margin-top: .3rem;
  border-radius: .5rem;
}

.openFaveText {
  font-size: .7rem;
}

.fa-search {
  color: white;
}

.openHeartBtn {
  margin-right: .7rem;
  color: rgba(0, 0, 0, 0.5);
}

.openHeartBtnNight {
  margin-right: .7rem;
  color: rgba(255, 255, 255, 0.5);
}

.form-control {
  margin-top: .3rem;
  max-height: 2rem;
}

.offcanvas-title {
  letter-spacing: .1rem;
}

.closeBtn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.curTempDataImg {
  min-width: 8rem;
  height: auto;
}

.heartBtn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin-top: -.5rem;
}

.heartBtnNight {
  background-color: blue;
}

.heartBtnDark {
  color: black;
  border: none;
  margin-top: -.5rem;
}

.cityItemClass {
  background-color: white;
  max-width: 20rem;
  height: 3.5rem;
  border-radius: .5rem;
}

.cityItemClassNight {
  background-color: rgb(51, 51, 51);
  max-width: 20rem;
  height: 3.5rem;
  border-radius: .5rem;
}

.offcanvasBG {
  background-color: rgba(255, 255, 255, 0.68);
}

.offcanvasBGNight {
  background-color: rgba(0, 0, 0, 0.68);
}

.fa-xmark {
  color: rgba(0, 0, 0, 0.5);
}

.deleteBtnX {
  max-height: 1.5rem;
  max-width: 1.5rem;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.changeUnitsDiv {
  font-size: .85rem;
  color: white;
}

.tempUnitsBtn {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.forecastData {
  max-width: 51rem;
  min-height: 15rem;
  background-color: rgba(255, 255, 255, 0.756);
  border-radius: .8rem;
  padding: 2rem;
  margin-left: 18.8rem;
}

.forecastBtns {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

#detailsText {
  letter-spacing: .2rem;
  font-size: 1.5rem;
}

.longDayForecastText {
  letter-spacing: .2rem;
  font-size: 2rem;
}